.main{
    height: 15rem;
    background: #12575f;
    margin-top: 2rem;
    padding-top: 4rem;
    .short{
     
    padding: 1rem;
    border: 3px solid #e2790e;
    border-radius: 4rem;
    color: white;
    }
    .btn-primary {
        color: #fff;
        background-color: #193948;
        border-color: #183452;}
}
.main1{
    height: 8rem;
    background: #125f5c;;
    margin-top: 2rem;
    padding-top: 2rem;
    color:white;
    .spn{
        color: #f97d11;
    }
}
